body {
    text-align: center;
    background-color: #a06060;
}

h1 {
    font-size: 5rem;
    color: #DBEDF3;
    font-family: cursive;
    text-shadow: 3px 0 #DA0463;
}

.q {
    background-image: url("images/w.png");
}

.p {
    background-image: url("images/a.png");
}

.z {
    background-image: url("images/s.png");
}

.m {
    background-image: url("images/d.png");
}

.f {
    background-image: url("images/j.png");
}

.g {
    background-image: url("images/k.png");
}

.h {
    background-image: url("images/l.png");
}

.buttons {
    box-shadow: 10% auto;
}